#scoreDiv {
	font-size : xx-large;
	color : #000;
	background-color : #e6e6e6;
	border : solid 1px #000;
	width : 600;
	height : 39;
	text-align : center;
	-moz-user-select: -moz-none;
   	-khtml-user-select: none;
   	-webkit-user-select: none;
	-user-select: none;
   	user-select: none;
}


#questionDiv {
	font-size : xx-large;
	color : #000;
	background-color : #e6e6e6;
	border : solid 1px #000;
	width : 600;
	height : 39;
	text-align : center;
	-moz-user-select: -moz-none;
   	-khtml-user-select: none;
   	-webkit-user-select: none;
	-user-select: none;
   	user-select: none;
}


#canvasDiv {
	-moz-user-select: -moz-none;
   	-khtml-user-select: none;
   	-webkit-user-select: none;
	-user-select: none;
   	user-select: none;
}
